* {
    background-color: white;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

#main {
    padding-left: 15%;
    padding-right: 15%;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title {
    font-size: 30px;
}

#logo {
    height: 30px;
}

#img-form {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.first-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.black-border {
    border: 1px black solid;
    border-radius: 5px;
    text-align: center;
    height: 40px;
    width: 200px;
    margin: 5px;
}

.second {
    height: 40px;
    width: 200px;
}

.scnd-row {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file + label {
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
}

.input-file + label:hover {
    color: red;
}

.botun {
    font-size: 16px;
    color: white;
    background-color: black;
}

.grid-container {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box-container {
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.img-container {
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

.images {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.7;
}

.images:hover {
    opacity: 1;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.img-title {
    margin: 0;
    margin-top: 8px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

#more {
    display: flex;
    justify-content: center;
}

.more {
    margin-top: 20px;
    margin-bottom: 30px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
}

#close {
    font-size: 50px;
    background-color: transparent;
    position: fixed;
    top: 0;
}
#close:hover {
    cursor: pointer;
}

.modal-box-cont {
    position: fixed;
    max-height: 80%;
    max-width: 80%;
    width: -webkit-max-content;
    height: -webkit-max-content;
    display: flex;
    flex-direction: row;
}

.image {
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 3;
    object-fit: none;
}

.img-arr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title {
    padding-top: 20px;
    font-size: 40px;
}

.arrows {
    font-size: 100px;
    position: fixed;
    background-color: transparent;
}
.arrows:hover {
    cursor: pointer;
}

#left-arr {
    left: 0;
}
#right-arr {
    right: 0;
}

#wave-emoji {
    height: 20px;
}

.img-upload {
    font-size: 12px;
}

.icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

#delete {
    height: 20px;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#description {
    width: 500px;
    text-align: center;
}

#comment-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    align-self: self-end;
}

.comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 20px;
}

#comments {
    width: 400px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.who {
    align-self: flex-start;
    font-size: 12px;
}
.when {
    align-self: flex-start;
    font-size: 12px;
    color: grey;
}

.komentar {
    align-self: center;
}

footer {
    border-top: 1px solid black;
    height: 30px;
    padding-top: 5px;
    padding-left: 30px;
}
